@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}
/********************************/
.course {
    background: #f8f8f8;
    border: 1px solid #1C9AAE;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}
.course h3 {
    margin-bottom: 10px;
}
.course p {
    margin-bottom: 20px;
}

.info {
    display: inline-block;
    padding: 8px 10px;
    background-color: #1C9AAE;
    color: #333;
    text-decoration: none;
    border-radius: 10px;
}
/*******************************/

.mensaje {
    border: 1px solid #1C9AAE;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin: 5px auto;
    display: inline-block;
    vertical-align: top;
    background-color: #f8f8f8;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total del elemento */
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit; /* Hace que los enlaces hereden el color del texto circundante */
}
td.nota{
    text-align: center;
}
.contenido {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.contenido table {
    width: 100%;
    border-collapse: collapse;
}

.contenido th, .contenido td {
    border: 0px solid #ddd;
    padding: 8px;
    text-align: left;
}

.contenido th {
    background-color: #f2f2f2;
}
